* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', cursive;
}
body {
    /* 1.0 */
    background: rgb(19, 19, 19);
    /* 1.0 */
    overflow: Hidden;
}
canvas {
    background: rgb(19, 19, 19);
    top: 0;
    left: 0;
    
}
img {
    display: none;
}
#loading {
    /* 1.0 */
    color: azure;
    background: rgb(19, 19, 19);
    /* 1.0 */
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 70px;
}